# The env file to load to the Nestjs container

## REQUIRED IN ALL USE:

# The database's user password of the Nestjs instance.
DATABASE_PASSWORD=

## REQUIRED IN ALL USE EXCEPT WHEN USING DOCKER COMPOSE FILE:

# The database name that the nestjs app use.
# Declared in the Docker Compose file as "PC_Builder".
DATABASE_NAME=

# The host address of the database instance. 
# Declared in the Docker Compose file as "mysql".
DATABASE_HOST=

# The port that the database instance use. Normally 3306.
# Declared in the Docker Compose file as "3306".
DATABASE_PORT=

# The username that the nestjs app use to access the database.
# Declared in the Docker Compose file as "NestjsApp".
DATABASE_USERNAME=
