# The env file to load to the Nestjs container

## REQUIRED IN ALL USE:

BACKEND_HOST= # The backend server for server side to load data from

NEXT_PUBLIC_BACKEND_HOST= # The backend server for client side to load data from

JWT_SECRET= # The jwt secret key to be used