# The env file to load to the Nestjs container

## REQUIRED IN ALL USE:

# The database's user password of the Nestjs instance.
DATABASE_PASSWORD=

# The secret to be used for generating JWT token.
JWT_SECRET=

# The secret to be used for generating CSRF token.
CSRF_SECRET=

## REQUIRED IN ALL USE EXCEPT WHEN USING DOCKER COMPOSE FILE:

# The database name that the nestjs app use.
# Declared in the Docker Compose file as "PC_Builder".
DATABASE_NAME=

# The username that the nestjs app use to access the database.
# Declared in the Docker Compose file as "NestjsApp".
DATABASE_USERNAME=

# The host address of the mysql database instance. 
# Declared in the Docker Compose file as "mysql".
MYSQL_HOST=

# The port of the mysql database instance. Normally 3306.
# Declared in the Docker Compose file as "3306".
MYSQL_PORT=

# The host address of the mongo database instance. 
# Declared in the Docker Compose file as "mongo:27017".
MONGO_HOST=
