@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition-props {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    transition-delay: 0s;
  }

  .transition-nav {
    transition-property: max-height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    transition-delay: 0s;
  }

  .transition-bg {
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    transition-delay: 0s;
  }
}
