# The env file to load to the Mysql Docker container.
# Can specify more environment variables as in the document:
# https://dev.mysql.com/doc/mysql-installation-excerpt/5.7/en/docker-mysql-more-topics.html#docker-environment-variables

## REQUIRED IN ALL USE:

# One of the specified below:
MYSQL_ROOT_PASSWORD=
MYSQL_RANDOM_ROOT_PASSWORD= 
MYSQL_ONETIME_PASSWORD=
MYSQL_ALLOW_EMPTY_PASSWORD=

# And below (if using the Docker Compose file or connect with a specified user) 
# None if connecting with the root user (not recommended).
# Must be the same with the Nestjs password variable unless connecting it with the root user. 
# (Don't follow if you know what you are doing).
MYSQL_PASSWORD=

## REQUIRED IN ALL USE EXCEPT WHEN USING DOCKER COMPOSE FILE:

# The username that the Nestjs instance gonna use to connect.
# None if connecting with the root user (not recommended).
# Must be the same with the Nestjs user variable unless connecting it with the root user. 
# Declared in the Docker Compose file as "NestjsApp".
MYSQL_USER=

# The database name that the Nestjs instance gonna use.
# Must be the same with the Nestjs database variable. 
# Declared in the Docker Compose file as "PC_Builder".
MYSQL_DATABASE=
